{% load static %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<style>
  .contributions-graph{margin-left: 20px;margin-right: 25px; margin-top:10px;}

  .contrib_grad0 {
    background-color: whitesmoke;

  }

  .contrib_grad1 {
    background-color: #d6e685;
    /* background-color: #8fbeff; */

  }

  .contrib_grad2 {
    background-color: #8cc665;
    /* background-color: #81a6ee; */

  }

  .contrib_grad3 {
    background-color: #44a340;
    /* background-color: #5687E8; */

  }

  .contrib_grad4 {
    background-color: #1e6823;
    /* background-color: #3f62a6; */
  }

  /*------------------------------------*\
  # PANEL STYLES
\*------------------------------------*/
  .panel {
    margin-bottom: 8%;
  }

  .panel-heading {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
  }

  /*------------------------------------*\
  # CELLS
\*------------------------------------*/
  .calendar-row {
    display: table;
    border-spacing: 2px 1px;
  }

  .cell {
    border-radius: 3px;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    margin: 1px;
    display: table-cell;
    resize: none;

      /* {
      % if calendar.contributions_django.use_circles == True %
    }

    border-radius:30px;

      {
      % endif %
    } */
  }

  .cell:hover {
    border: 1px solid #333;
  }

  .contrib_empty:hover {
    border: none;
  }

  .monthday-row{margin-left: -50px;}

  .month-heading {
    width: 22px;
    font-size: 0.8em;
    text-align: left;
    color: #aaa;
  }

  .legend {
    margin-top: 16px;
  }

  /*------------------------------------*\
  # TOOLTIPS
\*------------------------------------*/
  .cell {
    position: relative;
    /* z-index: 24; */
  }

  .cell:hover {
    /* z-index: 25; */
  }

  .cell span {
    display: none;
  }

  .cell:hover span {
    width: 255px;
    height: 30px;
    top: -45px;
    left: -110px;
    display: inline-block;
    position: absolute;
    background-color: rgba(1, 1, 1, 0.8);
    color: white;
    text-align: center;
    font-size: 12px;
    border-radius: 4px;
    line-height: 30px;
    vertical-align: middle;
    z-index: 99;
  }

  .cell:hover span:before {
    border: solid;
    border-color: rgba(1, 1, 1, 0.8) transparent;
    border-width: 7px 7px 0 7px;
    bottom: -7px;
    content: "";
    left: 110px;
    position: absolute;
    z-index: 99;
  }

  .contrib_empty:hover span {
    display: none;
  }

  /*------------------------------------*\
  # STATISTICS
\*------------------------------------*/
  .statistics.row {
    /* border-top: 1px solid #ddd; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  .statistics .col-md-4 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 12px;
  }

  .calendar-stats {display:flex; gap:20px;}

  .col-md-4.middle {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .annotation {
    color: #aaa;
    font-size: 0.85em;
    margin-bottom: 2px;
  }

  .big_stat {
    font-size: 1em;
    margin-bottom: 5px;
    color:black;
    font-weight: bold;
  }

.secblue{
  color: #8fbeff;
}

.fifthblue{
  color: #81a6ee;
}

.mainblue{
  color: #5687E8;
}

.fourthblue{
  color: #3f62a6;
}

@media (max-width: 640px) {
  .panel-body {
    margin-left: -130px;
    margin-top: -50px;
    margin-bottom: -25px;
    transform: scale(0.5);
  }}

</style>
<div class="panel panel-default">
  <div class="panel-body">
    <p>{% if calendar.contributions_django.icon_classes %}<i class="{{ calendar.contributions_django.icon_classes }}"
        aria-hidden="true" style="padding-right:10px"></i>{% endif %}{{ calendar.contributions_django.graph.title }}</p>
    <center>
      <div class="contributions-graph">
        <div class="calendar-row monthday-row">
          <div class="cell  contrib_empty"></div>
          {% for month in calendar.contributions_django.months %}
          {% if month %}<div class="cell month-heading contrib_empty">{{ month }}</div>{% else %}<div
            class="cell contrib_empty"></div>{% endif %}{% endfor %}
        </div>
        {% for row in calendar.contributions_django.graph.data %}
        <div class="calendar-row">
          <div class="cell weekday-heading contrib_empty">
            {{ calendar.contributions_django.weekdays|last }}
          </div>
          {% for cell in row %}
          <div class="cell contrib_{{ cell.cell_class }}">
            <span>{{ cell.tooltip }}</span>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
        <div class="calendar-row legend">
          <div class="cell weekday-heading contrib_empty"></div>
          {% for _ in calendar.contributions_django.graph.range %}
          <div class="cell contrib_empty"></div>
          {% endfor %}
        </div>
      </div>
  </div>
  <!-- <div>From {{ calendar.contributions_django.graph.start_date }}
        to {{calendar.contributions_django.graph.today_date}}</div> -->
  <div class="statistics row">
    <div class="calendar-stats">
      <div class="annotation">Cards reviewed: <span class="big_stat secblue">{{ calendar.contributions_django.graph.sum }}</span></div>
      <div class="annotation">Daily average: <span class="big_stat fifthblue">{{ calendar.contributions_django.graph.average_reviews_per_active_day | floatformat:0 }}</span></div>
      <div class="annotation">Days learned: <span class="big_stat mainblue">{{ calendar.contributions_django.graph.active_days }}</span> ({{ calendar.contributions_django.graph.active_days_percentage | floatformat:2}}%)</div>
      <div class="annotation">Longest streak: <span class="big_stat fourthblue">{{ calendar.contributions_django.graph.longest_streak}}</span></div>
    </div>
  </div>

  <!-- <div class="statistics row">
    <div class="">
      <p class="annotation">Total activity from {{ calendar.contributions_django.graph.start_date }}
        to {{calendar.contributions_django.graph.today_date}}: <span class="big_stat">{{ calendar.contributions_django.graph.sum }}</span></p>
    </div>
  </div>   -->

</div>